<!DOCTYPE html>
<html>
<head>
    <title>Your DataTable</title>
    <!-- Include jQuery and DataTables CSS and JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.css"/>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.11.5/datatables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <table  id="your-datatable" class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Company Name</th>
                <th>Company Location</th>
                <th>Employee No</th>
                <th>Location</th>
                <th>Description</th>
                <th>Valuation in Dollars</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.company_name }}</td>
                    <td>{{ item.company_location }}</td>
                    <td>{{ item.employee_no }}</td>
                    <td>{{ item.location }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.valuation_in_dollars }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script>
        // Initialize DataTable
        $(document).ready(function() {
            $('#your-datatable').DataTable();
        });
    </script>
</body>
</html>